Processamento de dados:
- criar tabela com todos os MQLs, com todas as informações disponíveis para cada um.
- criar uma coluna com quais MQLs fecharam acordo e quais foram perdidos.

Inclusão bibliotecas

In [1]:
import pandas as pd

In [2]:
df_qualified = pd.read_csv("dados/dados01/olist_marketing_qualified_leads_dataset.csv")
df_closed    = pd.read_csv("dados/dados01/olist_closed_deals_dataset.csv")

In [3]:
df_closed["is_closed"] = 1

In [4]:
closed_qualified = df_qualified.merge(df_closed, on='mql_id', how='left')

In [5]:
closed_qualified.head()

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue,is_closed
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0,1.0

In [6]:
closed_qualified.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 0 to 7999
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         8000 non-null   object
 1   first_contact_date             8000 non-null   object
 2   landing_page_id                8000 non-null   object
 3   origin                         7940 non-null   object
 4   seller_id                      842 non-null    object
 5   sdr_id                         842 non-null    object
 6   sr_id                          842 non-null    object
 7   won_date                       842 non-null    object
 8   business_segment               841 non-null    object
 9   lead_type                      836 non-null    object
 10  lead_behaviour_profile         665 non-null    object
 11  has_company                    63 non-null     object
 12  has_gtin                       64 non-null     object
 13  average_stock                  66 non-null     object
 14  business_type                  832 non-null    object
 15  declared_product_catalog_size  69 non-null     float64
 16  declared_monthly_revenue       842 non-null    float64
 17  is_closed                      842 non-null    float64
dtypes: float64(3), object(15)
memory usage: 1.2+ MB

In [7]:
closed_qualified.loc[closed_qualified.is_closed.isnull(),'is_closed'] = 0

- Qual foi a taxa de conversão total?

In [8]:
total = closed_qualified.is_closed.count()
total

8000

In [9]:
is_closed = closed_qualified.is_closed.sum()
is_closed

842.0

In [10]:
tx_conv_total = (is_closed / total) * 100

In [11]:
print("A taxa de conversão total é ",tx_conv_total,"%")

A taxa de conversão total é  10.525 %

- Qual foi a taxa de conversão de cada origem?

In [12]:
conv_origem = closed_qualified.groupby('origin')['is_closed'].count().to_frame('total')

In [13]:
conv_origem['closed'] = closed_qualified.groupby('origin')['is_closed'].sum()

In [14]:
conv_origem['taxa'] = (conv_origem['closed'] / conv_origem['total'])*100

In [15]:
conv_origem

                   total  closed       taxa
origin
direct_traffic       499    56.0  11.222445
display              118     6.0   5.084746
email                493    15.0   3.042596
organic_search      2296   271.0  11.803136
other                150     4.0   2.666667
other_publicities     65     3.0   4.615385
paid_search         1586   195.0  12.295082
referral             284    24.0   8.450704
social              1350    75.0   5.555556
unknown             1099   179.0  16.287534

- Qual foi a taxa de conversão de cada página inicial?

In [16]:
conv_pag = closed_qualified.groupby('landing_page_id')['is_closed'].count().to_frame('total')

In [17]:
conv_pag['closed'] = closed_qualified.groupby('landing_page_id')['is_closed'].sum()

In [18]:
conv_pag['taxa'] = (conv_pag['closed'] / conv_pag['total'])*100

In [19]:
conv_pag

                                  total  closed        taxa
landing_page_id
007f9098284a86ee80ddeb25d53e0af8     66     4.0    6.060606
01850876d34b43494b5f9879c366877b      1     0.0    0.000000
0218f6be0b76aca72ab4d00ee9e8cf10     48     6.0   12.500000
03c7c0ace395d80182db07ae2c30f034      1     0.0    0.000000
04a75b75d5f4f3a16b0178fbe382da00      1     1.0  100.000000
...                                 ...     ...         ...
fd7c4cdfbfb7964b441618d54f88c38b      1     0.0    0.000000
fd7d977e75d1ac5cfe6b93ffabb150b1      1     0.0    0.000000
fe82aeadeaea2186478fe6353d6d5301      8     2.0   25.000000
ff3416719616ad4921acb8c74e21d6f0     11     0.0    0.000000
ffc62d6945fd1423539ec6d96326c37c      1     1.0  100.000000

[495 rows x 3 columns]

- Para cada SR, qual a receita média declarada dos leads?

In [20]:
closed_qualified.groupby('sr_id')['declared_monthly_revenue'].mean().to_frame('receita_media')

                                  receita_media
sr_id
060c0a26f19f4d66b42e0d8796688490       0.000000
068066e24f0c643eb1d089c7dd20cd73    7037.037037
0a0fb2b07d841f84fb6714e35c723075    6000.000000
2695de1affa7750089c0455f8ce27021    1694.915254
34d40cdaf94010a1d05b0d6212f9e909   19000.000000
495d4e95a8cf8bbf8b432b612a2aa328    6666.666667
4b339f9567d060bcea4f5136b9f5949e   27777.777778
4ef15afb4b2723d8f3d81e51ec7afefe  377293.233083
56bf83c4bb35763a51c2baab501b4c67   12500.000000
6565aa9ce3178a5caf6171827af3a9ba       0.000000
6aa3b86a83d784b05f0e37e26b20860d    8000.000000
85fc447d336637ba1df43e793199fbc8    1562.500000
9749123c950bf8363ace42cb1c2d0815  103571.428571
9ae085775a198122c5586fa830ff7f2b       0.000000
9d12ef1a7eca3ec58c545c678af7869c   43333.333333
9e4d1098a3b0f5da39b0bc48f9876645       0.000000
a8387c01a09e99ce014107505b92388c   24038.692308
b90f87164b5f8c2cfa5c8572834dbe3f       0.000000
c638112b43f1d1b86dcabb0da720c901       0.000000
d3d1e91a157ea7f90548eef82f1955e3    4939.024390
de63de0d10a6012430098db33c679b0b  151415.094340
fbf4aef3f6915dc0c3c97d6812522f6a       0.000000

- Para cada SR, quantos de cada business_type a pessoa converteu?

In [21]:
closed_qualified.groupby(['sr_id','business_type'])['is_closed'].count().to_frame('converteu')

                                                converteu
sr_id                            business_type
060c0a26f19f4d66b42e0d8796688490 manufacturer           9
                                 reseller              23
068066e24f0c643eb1d089c7dd20cd73 manufacturer           6
                                 reseller              21
0a0fb2b07d841f84fb6714e35c723075 other                  1
2695de1affa7750089c0455f8ce27021 manufacturer          16
                                 reseller              42
34d40cdaf94010a1d05b0d6212f9e909 manufacturer           1
                                 other                  1
                                 reseller               8
495d4e95a8cf8bbf8b432b612a2aa328 manufacturer          14
                                 reseller              47
4b339f9567d060bcea4f5136b9f5949e manufacturer           2
                                 reseller               6
4ef15afb4b2723d8f3d81e51ec7afefe manufacturer          43
                                 reseller              90
56bf83c4bb35763a51c2baab501b4c67 manufacturer           8
                                 reseller              16
6565aa9ce3178a5caf6171827af3a9ba manufacturer          19
                                 reseller              54
6aa3b86a83d784b05f0e37e26b20860d reseller               1
85fc447d336637ba1df43e793199fbc8 manufacturer          25
                                 reseller              39
9749123c950bf8363ace42cb1c2d0815 manufacturer           2
                                 reseller               5
9ae085775a198122c5586fa830ff7f2b manufacturer          15
                                 reseller              36
9d12ef1a7eca3ec58c545c678af7869c manufacturer           2
                                 reseller               4
9e4d1098a3b0f5da39b0bc48f9876645 manufacturer          10
                                 reseller              14
a8387c01a09e99ce014107505b92388c manufacturer           4
                                 other                  1
                                 reseller              21
b90f87164b5f8c2cfa5c8572834dbe3f reseller               1
c638112b43f1d1b86dcabb0da720c901 manufacturer          12
                                 reseller              22
d3d1e91a157ea7f90548eef82f1955e3 manufacturer          19
                                 reseller              61
de63de0d10a6012430098db33c679b0b manufacturer          12
                                 reseller              40
fbf4aef3f6915dc0c3c97d6812522f6a manufacturer          23
                                 reseller              36

- Para cada SR, quantos de cada lead_behaviour_profile a pessoa converteu?

In [22]:
closed_qualified.groupby(['sr_id','lead_behaviour_profile'])['is_closed'].count().to_frame('converteu')

                                                         converteu
sr_id                            lead_behaviour_profile
060c0a26f19f4d66b42e0d8796688490 cat                            15
                                 eagle                           2
                                 shark                           1
                                 wolf                            6
068066e24f0c643eb1d089c7dd20cd73 cat                            11
...                                                            ...
de63de0d10a6012430098db33c679b0b wolf                            5
fbf4aef3f6915dc0c3c97d6812522f6a cat                            30
                                 eagle                           9
                                 shark                           2
                                 wolf                            2

[80 rows x 1 columns]

- Para cada SR, quantos de cada lead_type a pessoa converteu?

In [23]:
closed_qualified.groupby(['sr_id','lead_type'])['is_closed'].count().to_frame('converteu')

                                                  converteu
sr_id                            lead_type
060c0a26f19f4d66b42e0d8796688490 industry                 8
                                 offline                  1
                                 online_beginner          3
                                 online_big               2
                                 online_medium           15
...                                                     ...
fbf4aef3f6915dc0c3c97d6812522f6a online_beginner          1
                                 online_big               8
                                 online_medium           30
                                 online_small             6
                                 online_top               2

[118 rows x 1 columns]